/* Layout of the grid */
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  
/* Styling the card of each article */
.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

/* Styling psuedo elements */
.card:hover,
.card:focus,
.card:active {
  color: rgb(255,165,0);
  border-color: rgb(255,165,0);
}

/* Card Heading style */
.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

/* Card text style */
.card p {
  margin: 0;
  font-size: 1.15rem;
  line-height: 1.5;
}

/* Media Query for small screens */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}